table {
    border-collapse: collapse;
}

table, th {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

td {
    border-right: 1px solid black;
}

.has-underline {
    border-bottom: 1px solid black;
}
