th,
td {
    text-align: center;
}

.table td {
    border-top: 0;
    border-bottom: 0;
}

.has-underline {
    border-bottom: 1px solid #dee2e6;
}

.container {
    padding-top: 15px;
}

.nav {
    margin-bottom: 15px;
}

.table {
    display: none;
}